<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Footer -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5830431112925823"
     data-ad-slot="6330558192"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</script>
<br><br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Link add -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5830431112925823"
     data-ad-slot="9771499393"
     data-ad-format="link"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
